@import "~bootstrap/scss/bootstrap";
@import url("https://fonts.googleapis.com/css2?family=Saira:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  font-family: "Saira", sans-serif;
  color: rgb(124, 124, 124);
}

main {
  // max-width: 988px;
  // width: 600px;
  margin: auto;
  text-align: center;
}

ul {
  padding: 0 0 0 20px;

  li {
    padding: 0px 0;

    &.completed {
      text-decoration: line-through;
      font-style: italic;
      color: rgb(81, 158, 100);
    }

    &:hover {
      cursor: pointer;
    }
  }
}

// form {
//   input, button {
//     padding: 3px 6px;
//     font-size: 10px;
//     border-radius: 2px;
//     border: 1px solid #ccc;
//     margin-right: 5px;
//   }
// }

.title {
  margin-top: -30px;
  margin-bottom: 0px;
  letter-spacing: 2px;
}

.remaining {
  margin-bottom: 6px;
}

.add-btn {
  margin-left: 5px;
  margin-top: -2px;
  padding-top: 5px;
  padding-bottom: 4px;
}

p {
  font-style: italic;
  font-size: 12px;
  color: #666;
}

span {
  color: #666;
}

.remove-completed {
  margin-top: -30px;
  font-size: 12px;
  padding-top: 0px;
  padding-bottom: 0px;
}

hr {
  margin-top: -5px;
  margin-bottom: 5px;
}

.inputform {
  z-index: 500;
}

input.form-label {
  background-color: transparent;
  border-radius: 2px;
  border: 2px solid rgb(110, 110, 110);
}

.form-label:focus {
  border-color: none;
  box-shadow: none;
  outline: 0;
  background-color: transparent;
}

.singletodos {
  z-index: 500;
}

.tasks-added {
  line-height: 18px;
}

.delete-task {
  font-size: 8px;
  padding-left: 2px;
  padding-right: 2px;
  // padding-top: 1px;
  // padding-bottom: 0.1px;
  margin-left: 15px;
  color: rgb(143, 55, 55);
}

.delete-task:focus {
  outline: 0;
  border-color: none;
  box-shadow: none;
}

// * * * * * * * * * * * * C O N T A C T * * * * * * * * * * * *

.icon {
  margin-right: 0px;
  margin-bottom: 0px;
  border-radius: 0;
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  float: left, right, top, bottom;
  filter: grayscale(100%);
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  z-index: 1;
}

.icon:hover {
  z-index: 5;
  filter: grayscale(0%);
  -webkit-filter: grayscale(0%);
  -moz-filter: grayscale(0%);
  transform: rotate(720deg) scale(1.4);
  -webkit-transform: rotate(720deg) scale(1.4);
  -moz-transform: rotate(720deg) scale(1.4);
}

.icons {
  padding-bottom: 3px;
  margin-top: 0px;
}

.mail-image {
  height: 1.5em;
  width: 1.5em;
}

.acgh-image {
  height: 1.5em;
  width: 1.75em;
}

.linkedin-image {
  height: 1.5em;
  width: 1.5em;
}

.footer-group {
  text-align: center;
  position: absolute;
  margin-bottom: 50px;
  font-size: smaller;
}

// .footer-text {
//   text-align: center;
//   margin-bottom: 50px;
//   font-size: smaller;
// }
